/* Tag Selectors */
body{
  background-color: #393E46;
}

h1,h2{
  text-align: center;
  color: #00CC99;
}

/* Headings */
.big-heading{
  font-family: Lobster;
  font-size: 6rem;
  margin: 40px;
  text-shadow: 5px 0 #232931;
}

.player-heading{
  font-family: Unkempt;
  font-size: 1.5rem;
  line-height: 2;
}

/* Dice image */
img{
  margin: 0 auto;
}
